* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.topBar {
    display: flex;
    padding: 10px;
    padding-left: 80px;
    background: rgb(22, 19, 191);
    color: white;
    list-style: none;
    gap: 100px;
    font-size: 50px;

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
}

.navbar img {
    /* padding: 15px; */
    width: 300px;
}

.navbar ul {
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 30px;
}

.navbar ul li a {
    text-decoration: none;
    font-family: cursive;

}

.navbar ul li a:hover {
    border-bottom: 5px solid black;
    /* margin-top: 5px; */
    top: 0;
    margin: 0;
}

.container {
    height: 100vh;
    margin: 30px 10px;
    /* color: red; */
    background: url('images/footer-bg.png') no-repeat;
    background-position: center;
    background-size: cover;

}

.container h1 {
    border: 1px solid rgb(201, 195, 186);
    background: rgb(197, 161, 167);
    padding: 13px;
    border-radius: 50px;
    display: inline;
    color: rgb(251, 8, 4);
    font-family: 'Bhalo Bhai', cursive;
    font-size: 40px;
    margin-left: 4vw;
}

.content1 {
    display: flex;

}

.content1 p {
    font-size: 38px;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/piece.png)no-repeat;
    background-position: bottom;
    background-size: 50%;
    font-family: cursive;
    font-style: oblique;
}

.content1 img {
    width: 47vw;

}

.boxes {
    margin-top: 20vw;
    display: flex;
    justify-content: center;

    /* align-items: center; */

}

.box1,
.box2,
.box3,
.box4 {
    border: 1px solid black;
    padding: 12px;
    color: white;

}

.box1 {
    display: flex;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: blue;
}

.box1 p {
    font-family: cursive;
    font-size: 30px;
    /* font-weight: bold; */
}

.box2 {
    padding-top: 14vh;
    background: blue;
}

.box2 h1 {
    font-size: 40px;
    font-family: cursive;
}

.box2 p {
    margin-top: 18px;
    font-size: 30px;
    font-family: cursive;

}

.box4 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: blue;
}

.box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 300px; */
    background: rgb(245, 161, 6);
    padding: 15px;

}

.box3 h1 {
    font-size: 40px;
    font-family: cursive;
}

.box3 p {
    margin-top: 18px;
    font-size: 30px;
    font-family: cursive;

}

.box4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

.box4 h1 {
    font-size: 40px;
    font-family: cursive;
}

.box4 p {
    margin-top: 18px;
    font-size: 30px;
    font-family: cursive;

}

.man {
    display: flex;
    align-items: center;
    justify-content: center;
}

.man h5 {
    padding: 30px;
    gap: 50px;
    margin-left: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 90px;
}

.man h5 p {
    color: orangered;
    font-family: cursive;
    font-size: 50px;
}

.border h1 {
    /* border-bottom: 50px solid orangered; */
    background: linear-gradient(45deg, red, blue, green, orangered, yellow);
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 25px;
    font-family: cursive;
    font-size: 50px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
}

#services {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    background: linear-gradient(145deg, blue, orangered, green);
    color: white;
}

#services h1 {
    border-radius: 50px;
    border: 4px solid black;
    padding: 25px;
    background: greenyellow;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 50px;

}

#services h1:hover {
    background: red;
    color: white;
    box-shadow: 3px 5px 5px black;
    transition: all ease-in;
}

#services p {
    margin-top: 30px;
    font-size: 35px;
    font-family: cursive;
}

#services span {
    margin-top: 40px;
    font-size: 40px;
    line-height: 50px;
    font-family: cursive;
    text-align: center;
}

#projects {
    height: 100vh;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    background: red;
    /* background: linear-gradient(145deg, blue, orangered, green); */
    color: white;
}

#projects h1 {
    border-radius: 50px;
    border: 4px solid black;
    padding: 25px;
    background: blue;

    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 50px;

}

#projects p {
    margin-top: 82px;
    text-align: center;
    font-size: 30px;
    font-family: cursive;
    margin-bottom: 10vh;
}


.btn1 {
    border: 2px solid black;
    color: black;
    padding: 20px;
    font-size: 60px;
    border-radius: 30px;
    font-family: cursive;
    font-family: cursive;
    box-shadow: 5px 5px 5px black;
    background: linear-gradient(60deg, greenyellow, orangered);
    cursor: pointer;
}

.btn1:hover {
    background: greenyellow;
    color: black;
    transition: 0.3s all ease-in-out;
    transform: scale(1.011);
}

#achievement {
    margin-top: 80px;
    height: 70vh;
    display: flex;
    background: url('images/background.jpg')no-repeat;
    background-position: center;
    background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
}

.para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    font-family: cursive;
    font-size: 40px;
    font-style: oblique;
}

.para span {
    font-family: cursive;
    font-size: 40px;
    margin-top: -80px;
    margin-bottom: 100px;
    border: 2px solid black;
    border-radius: 17px;
    padding: 15px;
    background: linear-gradient(45deg, grey, blue, orangered, black);
    color: white;
}



.para p {
    /* padding: 30px; */
    /* margin: 30px; */
    text-align: center;
}

.para h1 {
    margin-bottom: 40px;
    color: red;
    font-family: cursive;
    font-size: 45px;
    text-align: center;


}

#achievement img {
    height: 380px;
    border: 3.45px solid black;
    box-shadow: 5px 5px 5px black;
}

.border1 h1 {
    background: linear-gradient(45deg, red, blue, skyblue);
    height: 100px;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    font-style: italic;
    color: white;

}


.imgCont {
    display: flex;
}

#approach {
    background: #d4e2e5;
}

.slot1 {
    display: flex;
    justify-content: center;
    gap: 450px;
    align-items: center;
    padding: 20px;
    margin: 20px;

}

.slot2 {
    padding: 20px;
    margin-left: 18vw;
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;

}

.head h1 {
    border: 3px solid black;
    border-radius: 30px;
    padding: 15px;
    background: goldenrod;
    font-family: cursive;
    color: black;
    font-weight: bold;
    font-size: 40px;
}

.container1 span {
    font-weight: bold;
    /* margin-bottom: 140px; */
    font-family: cursive;
    font-size: 30px;
}

.container1 p {
    font-family: cursive;
    margin-top: 40px;

}